<h1><%= @user.name %></h1>

<ul> <%= "Level #{@user.level}" %> </ul>
<ul> <%= "Member of the #{@user.clan} Clan" %> </ul>

<h3>Partners with:</h3>
<ul>
<% @user.dragons.each do |dragon| %>
<li><%= link_to dragon.name, dragon %> </li>
<% end %>
</ul>

<button> <%= link_to "Visit the Dragons' Lair", dragons_path %> </button>

<button> <%= link_to "Rewrite your fate. Change your dragon partnership(s).", edit_user_path %> </button>

<h3><%= button_to "Banish #{@user.name} and #{@user.name}'s dragons from the lands forever...", @user, method: :delete, data: { confirm: 'Are you sure? You will never see this user and dragons again.' } %></h3>

<button> <%= link_to "Return to the Village Pub", users_path %> </button>
